.projectsList {
  list-style-type: none;
  margin: .5rem 1rem;
  width: 100%;
}

.projectCard {
  align-items: center;
  background: var(--card-bg);
  border: solid 1px var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: background 200ms ease 0s;
  width: 100%;
}

.projectCard:hover {
  border: solid 1px var(--accent-color);
}

.projectTitle {
  font-family: Amaranth;
  font-size: x-large;
  margin: .5rem 0 0 1rem;
}

.lastModify {
  font-size: smaller;
  margin: 0 0 .5rem 1rem;
}

.projectStatus {
  border-radius: 12px;
  font-size: smaller;
  padding: 0px 5px;
}

.novo {
  background-color: #444C56;
  border: solid #565f6a;
  border-width: 1px;
}

.cards {
  margin-right: 1rem;
  text-align: center;
}

.cardsQTY {
  font-size: smaller;
  margin-top: 0;
}

.button-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dataNotFound {
  margin: 5em;
  text-align: center;
}
