.sideBar {
  background-color: var(--bg-color-sec);
  border-right: 1px solid var(--border-color);
  box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .5);
}

.sideBar h3 {
  margin: .57142857em 0;
}

.sideBar button {
  float: right;;
  margin: 2rem .5rem ;
  padding: 10px;
}

.sideBarContent {
  padding: 2rem 3rem 2rem 30px;
  width: 15vw;
}

