.sideBar {
  background: var(--bg-texture);
  background-color: var(--bg-color-sec);
  border-right: 1px solid var(--border-color);
  box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.sideBar h3 {
  margin: .57142857em 0;
}

.sideBarButton {
  float: right;;
  padding: 5px 10px;
}

.sideBarContent {
  padding: 2rem 1em;
}

.sideBarContentHide {
  padding: 2rem 15px;
}

.sidebarTitle {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.spanSideBar {
  color: var(--text-color-inactive);
  font-size: smaller;
}

.inspectBottons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inspectCard {
  overflow: scroll;
  padding-right: 1em;
}

.circulo {
  border-radius: 50%;
  height: 20px;
  margin-right: .5em;
  width: 20px;
}

.inspectTitle {
  align-items: center;
  display: flex;
}

.inspectTitle button {
  font-size: x-large;
}

.inspectCard span {
  color: var(--text-color-inactive);
  margin: 0;
}

.inspecInfos {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin-bottom: 1em;
}

.inspecInfos p {
  margin: 0;
}

.PtextInfos {
  margin: 0 0 1em 0;
  white-space: pre-line;
}

.imageInspect {
  margin-top: .5em;
  text-align: center;
}

.picInscpet {
  border: solid 1px var(--border-color);
  border-radius: 100%;
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.imageInscpet {
  border: solid 1px var(--border-color);
  border-radius: 5px;
  width: 90%;
}

.sideBarList {
  margin-top: 1em;
  max-height: 700px;
  overflow: scroll;
}

.inspectCharRelations {
  margin-bottom: 1em;
}

.spanTaskLit {
  margin: 0;
}

.sideBarItemList {
  background-color: var(--bg-color-sec);
  border: solid 1px #3d3c3c61;
  border-radius: 15px;
  padding: .5em 0;
  text-align: left;
  width: 100%;
  padding: .5em;
  margin-bottom: .5em;
}