
.projectInnerContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;
}

.projectsPage {
  align-items: center;
  background-color: var(--bg-color-sec);
  border: solid 1px var(--border-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 3rem 1rem 3rem;
  max-width: 80rem;
  padding: 30px;
  width: 90vw;
}

.projectsPageImg {
  width: 500px;
}

.btnNewProject {
  background-color: var(--green-color);
  border: 0;
  margin-bottom: 15px;
}

.importBtn {
  display: flex;
  justify-content: center;
  margin: 1.5em;
}

.importLabel {
  align-items: baseline;
  cursor: pointer;
  display: flex;
  gap: .5em;
}

.importLabel:hover {
  color: var(--accent-color);
}

.importIcon {
  background-color: var(--text-color-inactive);
  cursor: pointer;
  height: 25px;
  -webkit-mask: var(--import-icon) no-repeat center / contain;
  mask: var(--import-icon) no-repeat center / contain;
  width: 25px;
}

.importIcon:hover {
  background-color: var(--accent-color);
}