.back {
  background-color: var(--bg-color);
  border-bottom: 1px solid #ffffff51;
  border-top: 1px solid #ffffff51;
  box-shadow: 0 -1em 6em var(--bg-color);
  height: 210px; 
  left: 50%;
  position: fixed; 
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.logo-writing {
  background: url("../casmurro-logo.png") no-repeat;
  display: inline-block;
  height: var(--writing-y);
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--writing-x);
  z-index: 2;
}

.logo-writing.play {
  -moz-animation: sign-anim var(--writing-duration) var(--writing-delay) steps(var(--writng-frames)) forwards;
  -o-animation: sign-anim var(--writing-duration) var(--writing-delay) steps(var(--writng-frames)) forwards;
  -webkit-animation: sign-anim var(--writing-duration) var(--writing-delay) steps(var(--writng-frames)) forwards;
  animation: sign-anim var(--writing-duration) var(--writing-delay) steps(var(--writng-frames)) forwards;
}

/* Animações */
@keyframes sign-anim {

  to {
    background-position: 0 calc(var(--writng-frames) * -1 * var(--writing-y));
  }
}

.bg-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.bg-container img {
  animation: slide-up 30s linear infinite;
  height: auto;
  position: absolute;
  width: 100%;
}

@keyframes slide-up {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}