.settingsTabs ul {
  background-color: var(--bg-color);
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.cardSettings p {
  color: var(--text-color-inactive);
  margin-bottom: 1em;
}

.cardSettingsH2 {
  margin-bottom: 1em;
}


.settingsTabs li {
  border-right: 1px solid var(--border-color);
  float: left;
}

.settingsTabs li:last-child {
  border-right: 0px;
}

.settingsTabs button {
  all: unset;
}

.settingsTabs li button {
  color: var(--text-color-inactive);
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.settingsTabs li button:hover:not(.active-tab),
.settingsTabs li button.active-tab {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.listDraftExeplie {
  background-color: var(--bg-color);
  border-radius: 5px;
  color: var(--text-color);
  margin-top: 1em;
  padding: 1em;
}

.listDraftExeplie h2 {
  margin-top: 0;
}

.ceneListWhitPOV {
  border-radius: 5px;
  color: black;
}

.checkSceneList {
  color: var(--green-color);
  margin-left: .5em;
}

.btnDelDraftlist {
  background-color: transparent;
  border: solid 1px transparent;
  color: black;
  margin-left: 1em;
  padding: 0;
  text-align: left;
}