.profile-pic {
  align-items: center;
  color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all .3s ease;
}

.profile-pic input {
  display: none;
}

.profile-pic img {
  background-color: var(--bg-color-sec);
  border: solid 1px var(--border-color);
  border-radius: 100px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  width: 150px;
  z-index: 0;
}

.profile-pic .-label {
  cursor: pointer;
  height: 150px;
  width: 150px;
}

.profile-pic .-label2 {
  background-color: var(--btn-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  font-size: smaller;
  padding: .4em 1em;
}

.profile-pic:hover .-label2 {
  border: 1px solid var(--accent-color);
}

.profile-pic:hover .-label {
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 100px;
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  transition: background-color .2s ease-in-out;
  z-index: 10000;
}

.profile-pic span {
  display: inline-flex;
  height: 2em;
  padding: .2em;
}

.profile-pic a:hover {
  text-decoration: none;
}

.charBasicInfos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.charBasicInfos h3 {
  color: var(--text-color-inactive);
  margin: 0;
}

.fullContent {
  margin-top: 1em;
}

.fullContent h3 {
  margin: 0;
}

.chartaterColor {
  all: unset;
  background: transparent;
  border: solid 1px transparent;
  cursor: pointer;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 30px;
}

.btnRandom {
  background-color: var(--text-color-inactive);
  cursor: pointer;
  display: inline-block;
  height: 25px;
  -webkit-mask: var(--reload-icon) no-repeat center / contain;
  mask: var(--reload-icon) no-repeat center / contain;
  width: 25px;
}

.btnRandom:hover {
  background-color: var(--accent-color);
}

.removeRelationBtn {
  background-color: transparent;
  border: solid 1px transparent;
  margin: 0 .5em 0 0;
  padding: .5em 0;
  text-align: left;
}

.removeRelationBtn:hover {
  border: solid 1px transparent;
  color: red;
}

.relationBtn {
  color: black;
  margin-right: .5em;
  padding: .2em .5em;
}

.h3Relatoins {
  color: var(--text-color-inactive);
  margin-bottom: 0;
}
