.edit-lists {
  background-color: var(--bg-color-sec);
  border: solid 1px var(--border-color);
  border-radius: 5px;
  padding: 1em;
}

.edit-lists h2 {
  margin: 0;
}

.edit-lists-bar {
  display: flex;
  gap: .5em;
  margin-bottom: .5em;
  padding: .5em 0;
}

.edit-lists-items {
  border: solid 1px var(--border-color);
  border-radius: 5px;
  max-height: 200px;
  overflow: auto;
  padding: 1em;
}