.resizableDraftList {
  border-right: 1px solid var(--border-color);
  overflow-y: hidden;
  position: relative;
}

.createNewManuBtns {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.listDraft {
  padding: 1em;
}

.listDraftItens {
  min-width: 400px;
  overflow: scroll;
}

.listDraft h2 {
  margin-bottom: .3em;
}

.listDraft span {
  color: var(--text-color-inactive);
}

.invisibleChk {
  appearance: none;
}

.itemDraft {
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: var(--accent-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #000000de;
  font-family: RobotoI;
}

.btnInvisibleDel {
  background-color: transparent;
  border: solid 1px transparent;
  color: black;
  margin-left: 1em;
  padding: 0;
  text-align: left;
  font-family: sans-serif;
  font-weight: bolder;
}

.btnInvisibleDel:hover {
  color: red;
}

.folderIcon {
  -webkit-mask: var(--folder-icon) no-repeat center / contain;
  mask: var(--folder-icon) no-repeat center / contain;
}

.textIcon {
  -webkit-mask: var(--text-icon) no-repeat center / contain;
  mask: var(--text-icon) no-repeat center / contain;
}

.textIcon,
.folderIcon {
  background-color: var(--text-color);
  display: inline-block;
  height: 1em;
  margin-right: .3em;
  width: 1em;
}

.chapter {
  border-bottom: solid 1px var(--border-color);
  border-top: solid 1px var(--border-color);
  background-color: var(--bg-color);
  padding: .5em 0;
  margin-bottom: .5em;
}

.filterScene {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin-top: 1em;
}

.drafWC {
  font-size: medium;
}