.resizableDraftList {
  border-right: 1px solid var(--border-color);
  overflow-y: hidden;
  position: relative;
}

.divBtnM {
  border-bottom: solid 1px  var(--border-color);
}

.AddButtonsM {
  background-color: var(--btn-color);
  border-bottom: solid 1px  var(--border-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.moveButtonsM {
  background-color: var(--btn-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btnInvisibleM {
  background-color: transparent;

  /* stylelint-disable-next-line order/properties-alphabetical-order */
  border-bottom: solid 1px  var(--border-color);
  border-color: transparent;
  border-radius: 0;
  padding: .5em 0;
  text-align: center;
  width: 50%;
}

.btnMoveInvisibleM {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  padding: 0;
  text-align: center;
  width: 25%;
}

.listDraft {
  padding-left: 1em;
}

.listDraft h2 {
  margin-bottom: .3em;
}

.invisibleChk {
  appearance: none;
}

.itemDraft {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.selected {
  background-color: var(--accent-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #000000de;
  font-family: RobotoI;
}

.btnInvisibleDel {
  background-color: transparent;
  border: solid 1px transparent;
  margin-left: 1em;
  padding: 0;
  text-align: left;
}

.btnInvisibleDel:hover {
  color: red;
}

.folderIcon {
  -webkit-mask: var(--folder-icon) no-repeat center / contain;
  mask: var(--folder-icon) no-repeat center / contain;
}

.textIcon {
  -webkit-mask: var(--text-icon) no-repeat center / contain;
  mask: var(--text-icon) no-repeat center / contain;
}

.textIcon,
.folderIcon {
  background-color: var(--text-color);
  display: inline-block;
  height: 1em;
  margin-right: .3em;
  width: 1em;
}
