.resizableDraftList {
  border-right: 1px solid var(--border-color);
  overflow-y: hidden;
  position: relative;
}

.createNewManuBtns {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.listDraft {
  padding: 1em;
}

.listDraftItens {
  min-width: 400px;
  overflow: scroll;
}

.listDraft h2 {
  margin-bottom: .3em;
}

.listDraft span {
  color: var(--text-color-inactive);
}

.invisibleChk {
  appearance: none;
}

.itemDraft {
  align-items: center;
  cursor: pointer;
}

.btnScene {
  background-color: transparent;
  border: solid 1px transparent;
  padding: .1em 0;
  text-align: left;
  width: 100%;
}

.selected {
  background-color: var(--accent-color);
  color: #000000de;
  text-align: left;
  width: 100%;
  padding: .1em 0;
}

.btnInvisibleDel {
  background-color: transparent;
  border: solid 1px transparent;
  color: black;
  margin-left: 1em;
  padding: 0;
  text-align: left;
  font-family: sans-serif;
  font-weight: bolder;
}

.btnInvisibleDel:hover {
  color: red;
}

.innerBtnScene {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.folderIcon {
  -webkit-mask: var(--folder-icon) no-repeat center / contain;
  mask: var(--folder-icon) no-repeat center / contain;
}

.textIcon {
  -webkit-mask: var(--text-icon) no-repeat center / contain;
  mask: var(--text-icon) no-repeat center / contain;
}

.textIcon,
.folderIcon {
  background-color: var(--text-color);
  display: inline-block;
  height: 1em;
  margin-right: .3em;
  width: 1em;
}

.chapter {
  border-bottom: solid 1px var(--border-color);
  border-top: solid 1px var(--border-color);
  background-color: var(--bg-color);
  padding: 0;
  margin-bottom: .5em;
}

.filterScene {
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  margin-top: 1em;
}

.drafWC {
  font-size: medium;
}

.SceneView {
  border: solid 1px var(--border-color);
  border-radius: 15px;
  padding: 1em;
  max-height: 600px;
  overflow: scroll;
  text-indent: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  background-color: #e4e0bbc7;
}

.SceneView
span {
  color: rgb(0, 0, 0);
}

.SceneView
p {
  color: rgb(0, 0, 0);
}

.SceneView
em {
  font-size: large;
}
