.modal {
  background-color: rgba(0, 0, 0, .686);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal h2 {
  margin: 0;
}

.modal-content {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin: 10% auto;
  padding: 1rem 2rem;
  text-align: center;
  width: 600px;
}

.modal-open {
  overflow: hidden;
}

.termos-uso {
  background-color: var(--bg-color);
  border-radius: 6px;
  height: 150px;
  margin: 1rem 0;
  overflow-y: scroll;
  padding: 1rem;
  text-align: left;
}

.tooltip-big-text {
  margin-top: 0px;
  --balloon-color: #bb9935;
  --balloon-font-size: medium;
}