:root {
  --bg-color: #060707;
  --accent-color: #0099ff;
  --text-color: #cbcbcb;
  --text-color-inactive: #898989;
}

:root {
  background-color: #060707;
  color: var(--text-color);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: .6em 1.2em;
  transition: border-color .25s;
}

button:hover {
  border-color: var(--accent-color);
}


@media (prefers-color-scheme: light) {

  :root {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.separator {
  display: inline;
  margin-left: 25px;
}

/*=========== ICONS =========== */

.ui-icon {
  background-image: url("../ui-icons-light.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  margin-top: -.25em;
  overflow: hidden;
  position: relative;
  text-indent: -99999px;
  vertical-align: middle;
  width: 16px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-arrowthick-1-n {
  background-position: 1px -48px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-caret-2-n-s {
  background-position: -128px 0;
}

.ui-icon-search {
  background-position: -160px -112px;
}
