
.header {
  align-items: center;
  background-color: var(--bg-color-sec);
  display: flex;
  width: 100%;
}

.logoTitle {
  margin-left: 30px;
  margin-top: 2px;
}

.btnPorjects {
  all: unset;
  font-size: 20px;
}

.btnPorjects:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.header-right {
  margin-left: auto;
  padding-right: 10px;
}
